* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.animate__animated.animate__bounce {
    --animate-duration: 2s;
}

ul {
    list-style: none;
}

header .navBar {
    background-color: rgba(235, 17, 17, 0.855);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 150px
}

header .navBar .listPrin {
    display: flex;
    flex-wrap: wrap;
}

header .navBar .listPrin .itemList a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-weight: bolder;
    margin: 5px;
}

header .navBar .listPrin .itemList a:hover {
    color: white;
}

img {
    max-width: 200px;
    max-height: 100px;
}

/* main */

.main {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

h1 {
    font-family: sans-serif;
    color: aliceblue;
    text-decoration: underline;
    animation-name: titulo;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 15s;
}

/* footer */
.parrafoCorto {
    width: 150px;
    color: white;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(235, 17, 17, 0.855)
}

.mediosDePago {
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mediosDeEnvios{
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes titulo{
    0%{
        color: white;
        font-size: 25px;
    }
    25%{
        color: aqua;
        font-family: 'Courier New', Courier, monospace;
    }
    50%{
        color: brown;
        text-decoration: underline;
    }
    75%{
        color:rgb(255, 127, 127);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    100%{
        color:yellow;
        font-size: 15px;
    }

}