* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.animate__animated.animate__bounce {
    --animate-duration: 2s;
}

ul {
    list-style: none;
}

header .navBar {
    background-color: rgba(235, 17, 17, 0.855);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 150px
}

header .navBar .listPrin {
    display: flex;
    flex-wrap: wrap;
}

header .navBar .listPrin .itemList a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-weight: bolder;
    margin: 5px;
}

header .navBar .listPrin .itemList a:hover {
    color: white;
}

img {
    max-width: 200px;
    max-height: 100px;
}

/* main */

.main {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h1 {
    font-family: sans-serif;
    color: aliceblue;
    text-decoration: underline;
}

.parrafoCorto {
    width: 150px;
    color: white;
}